{% extends "layout.html" %}

{% block body %}

	{% if articles %}
		{% for article in articles %}
			<article class='post'>
			  <h1 class='post-title'>
			    <a href="/article/{{ article.title | urlencode }}">
			      {{ article.title }}
			    </a>
			  </h1>
			  <div class="post-date">{{ article.creat_time | datetime }}</div>
			  {{ article.content | markdown }}
			</article>
		{% endfor %}
		{% else %}
		<div class="not-found">
			<h1>主人还没有发布文章呢_(:з」∠)_</h1>
			<img src="/static/imgs/mengbi.gif" class="not-found">
		</div>
	{% endif %}
{% endblock %}

{% block page%}
{% if index.pages %}
	<div class="page">
			<a href="/?page={{ index.pages[0] }}" class="post-title {% if index.older < 1 %}a-hidden{% endif %}">&laquo;</a>
			<a href="/?page={{ index.older }}" class="post-title {% if index.older < 1 %}a-hidden{% endif %}">&lsaquo;</a>
				{% for page in index.pages %}
					<a href="/?page={{ page }}" {% if page != index.now %}class="post-title"{% endif %}>{{ page }}</a>
				{% endfor %}
			<a href="/?page={{ index.newer }}" class="post-title {% if index.newer > index.pages[-1] %}a-hidden{% endif %}">&rsaquo;</a>
			<a href="/?page={{ index.pages[-1] }}" class="post-title {% if index.newer > index.pages[-1] %}a-hidden{% endif %}">&raquo;</a>
	</div>
{% endif %}
{% endblock %}