{% extends "admin_layout.html" %}

{% block nav %}
  <ul class="nav nav-sidebar">
    <li class="text-center active"><a href="/onepeice/article" class="submenu selected-item"><h4>文章管理</h4><span class="sr-only">(current)</span></a></li>
    <li class="text-center"><a href="/onepeice/friend" class="submenu arrow"><h4>友链管理</h4></a></li>
  </ul>
{% endblock%}

{% block div %}
<form  action="/onepeice/post/article" method="post">
	<div class="form-group">
		<h2>编辑文章</h2>
		<hr />
	</div>
	<div class="form-inline">
		<div class="form-group form-inline">
	    	<label for="edit-id"><h4>ID</h4></label>
	    	<input name="id" value="{{ article.id }}" type="hidden">
	    	<input type="text" name="new_id" class="form-control input-lg" id="edit-id" placeholder="ID" value="{{ article.id }}">
	  	</div>
	  	&nbsp;&nbsp;
	  	<div class="form-group form-inline">
	    	<label for="edit-title"><h4>Title</h4></label>
	    	<input type="text" name="title" class="form-control input-lg" id="edit-title" placeholder="Title" value="{{ article.title }}">
	  	</div>
	</div>
  	<div class="form-group">
  		<label class="theradio"><h4>Type</h4></label>
  		<div id="theradio">
			<label class="radio-inline">
			  <input type="radio" name="type" id="inlineRadio1" value="article"
			  {% if article.type == "article"%}
			  checked
			  {% endif %} 
			  > 
			  Article
			</label>
			<label class="radio-inline">
			  <input type="radio" name="type" id="inlineRadio2" value="essay"
			  {% if article.type == "essay"%}
			  checked
			  {% endif %}
			  > 
			  Essay
			</label>
		</div>
	</div>
  	<div class="form-group">
    	<label><h4>Content</h4></label>					   
    	<textarea name="content" class="form-control" rows="15" placeholder="Content">{{ article.content }}</textarea>
  	</div>
  	<div class="form-group col-md-offset-10">
  		<button href="/onepeice/article" class="btn btn-default btn-lg">返回</button>
  		<button type="submit" class="btn btn-primary btn-lg">提交</button>
  	</div>
</form>
{% endblock%}